@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;

    --color-primary-1: #363738;
    --color-secondary-1: #F5F5F5;
    --color-secondary-2: #FEFAF1;
    --color-secondary-3: #DB4444;
    --color-text-1: #FAFAFA;
    --color-text-2: #7D8184;
    --color-text-3: #000000;
    --color-button-1: #00FF66;
    --color-button-2: #DB4444;
    --color-button-hover-1: #E07575;
    --color-button-hover-2: #A0BCE0;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
