@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-1: #363738;
  --color-secondary-1: #f5f5f5;
  --color-secondary-2: #fefaf1;
  --color-secondary-3: #db4444;
  --color-text-1: #fafafa;
  --color-text-2: #7d8184;
  --color-text-3: #000000;
  --color-button-1: #00ff66;
  --color-button-2: #db4444;
  --color-button-hover-1: #e07575;
  --color-button-hover-2: #a0bce0;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--color-secondary-3);
  background-image: url(../assets/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid var(--color-secondary-3);
}
/* 
input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="radio"]:checked {
  background-color: white;
}

input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="radio"]:checked::before {
  display: block;
} */
